@use 'src/assets/mixins' as m;

.albums-content {
  position: relative;
}

.expand-close {
  display: flex;
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: var(--slate-main);
  color: #FFFFFF;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  font-size: 30px;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  z-index: 20;
  transform: translate3d(0, 0, 5vw);

  &:hover {
    transform: translate3d(0, 0, 12vw);
  }
}

.content-frame-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;

  // ALBUMS STYLES
  .album-group {
    cursor: pointer;
    position: relative;
    width: 50%;
    z-index: 1;

    @include m.breakpoint(sm, min) {
      width: 33.33334%;
    }

    @include m.breakpoint(md, min) {
      width: 25%;
    }

    @include m.breakpoint(lg, min) {
      width: 20%;
    }

    .active-reset {
      position: relative;
      transition: all 1s ease-in-out;
      perspective: 134vw;
      perspective-origin: center;
      transform-style: preserve-3d;
      height: 100%;
      width: 100%;

      &:after {
        content: " ";
        position: absolute;
        top: 0;
        bottom: 0;
        height: 100%;
        z-index: -1;
        background: rgba(0, 0, 0, 0);
        transition: all 1s ease-in-out;
      }
    }

    .graphic-item {
      position: absolute;
      top: 0;
      transition: all 0.2s ease-in-out;
      filter: saturate(0.3) blur(2px) opacity(0.7);

      picture {
        display: flex;
        box-shadow: 0 3px 3px 2px rgba(0, 0, 0, 0.35);
      }

      &.album-cover,
      &.album-face,
      &.tape-face {
        filter: saturate(1);
        display: block;
      }

      &.album-cover {
        position: relative;
        transform: scale(0.75) translate3d(0, 0, 1vw) rotate3d(0, 0, 1, -6deg);
      }

      &.tape-face {
      }

      &.album-face {
        position: absolute;
        top: 0;
        transform: scale(0.72) rotate3d(0, 0, 1, -60deg);

        picture {
          border-radius: 50%;
        }
      }

      &.tray-in {
        z-index: 2;
        transform: translate3d(67%, -48%, -100vw) rotate3d(0, 0, 1, 8deg);
      }

      &.tray-out {
        z-index: 2;
        transform: translate3d(57%, 75%, -100vw) rotate3d(0, 0, 1, 18deg);
      }

      &.longboi1,
      &.longboi2,
      &.medboi1,
      &.medboi2,
      &.shortboi1,
      &.shortboi2,
      &.lonelyboi {
        transform: translate3d(-3%, 102%, -21vw) rotate3d(0, 0, 1, 37deg);

        picture {
          transition: transform linear;
          transition-duration: .7s;
        }
      }

      &.longboi1 {

      }

      &.longboi2 {
        transform: translate3d(-3%, 90%, -11vw) rotate3d(0, 0, 1, 38deg);
      }

      &.medboi1 {

      }

      &.medboi2 {
        transform: translate3d(6%, 200%, -10vw) rotate3d(0, 0, 1, -8deg);
      }

      &.shortboi1 {
        z-index: 1;
        transform: translate3d(-12%, 66%, -2vw) rotate3d(0, 0, 1, -22deg);
      }

      &.shortboi2 {
        z-index: 1;
        transform: translate3d(13%, -15%, -22vw) rotate3d(0, 0, 1, 22deg);
      }

      &.lonelyboi {
        z-index: 1;
        transform: scale(1.05) translate3d(-4%, 27%, -2vw) rotate3d(0, 0, 1, 32deg);
      }

      &.tray-only {
        z-index: 1;
        transform: scale(0.85) translate3d(43%, 46%, -40vw) rotate3d(0, 0, 1, -11deg);
      }
    }

    &:hover { // Album Group Hover
      z-index: 2;

      .expand-close {
        opacity: 1;
      }

      .graphic-item {
        filter: none;
      }

      .album-cover {
        transform: scale(0.75) translate3d(-39%, 20%, 2vw) rotate3d(0, 0, 1, -43deg);
      }

      .album-face {
        transition: transform 0.45s ease;
        transform: scale(0.72) translate3d(0%, -14%, 0vw);
      }

      .shortboi2 {
        transform: translate3d(13%, -15%, -22vw) rotate3d(0, 0, 1, 16deg);
      }

      .tray-only {
        transform: scale(0.85) translate3d(39%, 56%, -40vw) rotate3d(0, 0, 1, -15deg);
      }

      .tray-in {
        transform: translate3d(65%, -46%, -100vw) rotate3d(0, 0, 1, 14deg);
      }

      .tray-out {
        transform: translate3d(47%, 118%, -100vw) rotate3d(0, 0, 1, -12deg);
      }

      .longboi2,
      .medboi2 {
        transform: scale(1.1) translate3d(-3%, 176%, -2vw) rotate3d(0, 0, 1, -12deg);
      }

      .lonelyboi {
        transform: scale(1.05) translate3d(-14%, 18%, -2vw) rotate3d(0, 0, 1, 52deg);
      }
    }

    &.active { // Album Group Active Class
      z-index: 50;

      .expand-close {
        opacity: 1;
        transition-duration: 1s !important;
        transform: translate3d(-3.5vw, -36px, 66vw) scale(0.4) rotate(315deg);
        perspective: 104vw;
        z-index: 15;
        perspective-origin: center;
        transform-style: preserve-3d;
        box-shadow: var(--shadow-elevation-6);

        &:hover {
          background-color: var(--slate-light);
        }
      }

      > .active-reset > * {
        filter: none !important;
        transition: transform 2s ease-in-out;
      }

      // ALBUM COVER ACTIVE ANIMATION - CD
      .album-cover {
        transition: transform 1s cubic-bezier(0.6, 0.25, 0.6, 1.2);
        transform: translate3d(44%, 20%, 60vw) rotate3d(0, 0.3, 0, 20deg);
      }

      // ALBUM FACE ANIMATION
      .album-face {
        transition: all 1s ease-in-out;
        transform: translate3d(135%, 20%, 60vw);
        z-index: 4;
        perspective: 100vw;
        perspective-origin: center;
        transform-style: preserve-3d;

        picture {
          animation: cdRock forwards 3s ease-in-out;
        }
      }

      @keyframes cdRock {
        0% {
          transform: none;
        }
        2% {
          transform: rotate3d(0, 1, 0, -20deg) rotate(0turn);
        }
        16.5% {
          transform: translate3d(15%, 0, 0) rotate3d(0, 1, 0, -75deg) rotate(0.6turn);
        }
        33.4% {
          transform: translate3d(30%, 0, 0) rotate3d(0, 1, 0, 10deg) rotate(1.175turn);
        }
        100% {
          transform: rotate3d(0, 0, 0, 0deg) rotate(1turn);
        }
      }

      .longboi1,
      .longboi2,
      .medboi1,
      .medboi2,
      .shortboi1,
      .shortboi2,
      .lonelyboi,
      .tray-in,
      .tray-out,
      .tray-only {
        display: block;
      }

      .tray-in {
        transition-duration: 1.15s;
        transform: translate3d(163%, 165%, 42vw) rotate3d(1, 10, 0.3, -26deg);

        @include m.breakpoint(md, min) {
          transform: translate3d(269%, 15%, 42vw) rotate3d(1, 37, 0.7, -49deg);
        }
      }

      .tray-out {
        transition-duration: 1.65s;
        transform: translate3d(121%, 234%, 49vw) rotate3d(-3, 30, -1, -7deg);

        @include m.breakpoint(md, min) {
          transform: translate3d(231%, 99%, 51vw) rotate3d(-3, 30, -1, -47deg);
        }
      }

      .tray-only {
        transform: translate3d(148%, 142%, 53vw) rotate3d(0, -0.1, 0, 22.2deg);

        @include m.breakpoint(md, min) {
          transform: translate3d(210%, 36%, 64vw) rotate3d(0, 1.2, 0, -65deg);
        }
      }

      .longboi1,
      .longboi2,
      .medboi1,
      .medboi2 {
        transform: scale(2) translate3d(40%, 300%, 30vw) rotate3d(2, 0.7, -0.6, 60deg);
        perspective: 3vw;
        perspective-origin: center;
        transform-style: preserve-3d;
      }

      .longboi1 {
        @include m.breakpoint(md, min) {
          transform: scale(2) translate3d(37%, 310%, 38vw) rotate3d(2, 0.7, -0.6, 58deg);
        }
      }

      .longboi2 {
        transform: scale(2) translate3d(35%, 369%, 30vw) rotate3d(2.5, 0.5, -0.8, 71deg);

        @include m.breakpoint(md, min) {
          transform: scale(2) translate3d(70%, 330%, 35vw) rotate3d(2.5, 0.5, -0.8, 71deg);
        }
      }

      .medboi1 {
        transform: scale(1.9) translate3d(36%, 314%, 32vw) rotate3d(1.6, 0.8, -0.8, 76deg);

        @include m.breakpoint(md, min) {
          transform: scale(1.6) translate3d(106%, 264%, 46vw) rotate3d(1.6, 0.8, -0.8, 76deg);
        }
      }

      .medboi2 {
        transform: scale(1.9) translate3d(33%, 247%, 30vw) rotate3d(3.5, 1, -0.9, 66deg);

        @include m.breakpoint(md, min) {
          transform: scale(1.4) translate3d(55%, 267%, 51vw) rotate3d(3.5, 1.1, -0.7, 66deg);
        }
      }

      .shortboi1,
      .shortboi2 {
        transform: scale(1.65) translate3d(43%, 184%, 34vw) rotate3d(14.9, 1.3, -3.7, 60deg);
        perspective: 3vw;
        perspective-origin: center;
        transform-style: preserve-3d;

        picture {
          transform: rotate3d(0.4, 1.1, -1.3, 2.5deg);
        }

        @include m.breakpoint(md, min) {
          transform: scale(1.5) translate3d(90%, 195%, 22vw) rotate3d(9.1, 1.3, -2.7, 50deg);

          picture {
            transform: rotate3d(0.4, 1.1, -1.3, 5.7deg);
          }
        }
      }

      .shortboi2 {
        transform: scale(1.5) translate3d(80%, 260%, 38vw) rotate3d(10.1, 3.3, -4.4, 70deg);

        @include m.breakpoint(md, min) {
          transform: scale(1.5) translate3d(160%, 180%, 25vw) rotate3d(8.1, 2.3, -3.4, 60deg);
        }
      }

      .lonelyboi {
        animation: lonelyboi forwards 1.5s ease-in-out;
      }

      .active-reset {
        perspective: 134vw;
        perspective-origin: right center;
        transform-style: preserve-3d;
        height: 100%;
        width: 100%;
      }

      &:nth-child(1) .active-reset {
        transform: translate3d(-23%, -22%, 0vw) scale(0.58);

        @include m.breakpoint(sm, min) {
          transform: translate3d(-7%, -10%, 0vw) scale(0.88);
        }

        @include m.breakpoint(md, min) {
          transform: translate3d(-13%, 0%, 0vw) scale(0.8);
        }

        @include m.breakpoint(lg, min) {
          transform: none;
        }
      }

      &:nth-child(2) .active-reset {
        transform: translate3d(-124%, -22%, 0vw) scale(0.58);

        @include m.breakpoint(sm, min) {
          transform: translate3d(-112%, -11%, 0vw) scale(0.86);
        }

        @include m.breakpoint(md, min) {
          transform: translate3d(-109%, 0, 0vw) scale(0.9);
        }

        @include m.breakpoint(lg, min) {
          transform: translate3d(-97%, 0, 0vw) scale(1.1);
        }
      }

      &:nth-child(3) .active-reset {
        transform: translate3d(-23%, -82%, 0vw) scale(0.58);

        @include m.breakpoint(sm, min) {
          transform: translate3d(-207%, -10%, 0vw) scale(0.88);
        }

        @include m.breakpoint(md, min) {
          transform: translate3d(-213%, 0%, 0vw) scale(0.8);
        }

        @include m.breakpoint(lg, min) {
          transform: translate3d(-200%, 0, 0vw) scale(1);
        }
      }

      &:nth-child(4) .active-reset {
        transform: translate3d(-122%, -85%, 0vw) scale(0.565);

        @include m.breakpoint(sm, min) {
          transform: translate3d(-7%, -87%, 0vw) scale(0.85);
        }

        @include m.breakpoint(md, min) {
          transform: translate3d(-312%, 0%, 0vw) scale(0.79);
        }

        @include m.breakpoint(lg, min) {
          transform: translate3d(-300%, 0, 0vw) scale(1);
        }
      }

      &:nth-child(5) .active-reset {
        transform: translate3d(-24%, -53%, 0vw) scale(0.565);

        @include m.breakpoint(sm, min) {
          transform: translate3d(-107%, -87%, 0vw) scale(0.85);
        }

        @include m.breakpoint(md, min) {
          transform: translate3d(-11%, -50%, 0vw) scale(0.79);
        }

        @include m.breakpoint(lg, min) {
          transform: translate3d(-400%, 0%, 0vw) scale(1);
        }
      }

      &:nth-child(6) .active-reset {
        transform: translate3d(-122%, -85%, 0vw) scale(0.565);

        @include m.breakpoint(sm, min) {
          transform: translate3d(-207%, -87%, 0vw) scale(0.85);
        }

        @include m.breakpoint(md, min) {
          transform: translate3d(-113%, -65%, 0vw) scale(0.8);
        }

        @include m.breakpoint(lg, min) {
          transform: translate3d(0%, -100%, 0vw) scale(1);
        }
      }

      &:nth-child(7) .active-reset {
        transform: translate3d(-23%, -36%, 0vw) scale(0.565);

        @include m.breakpoint(sm, min) {
          transform: translate3d(-7%, -82%, 0vw) scale(0.85);
        }

        @include m.breakpoint(md, min) {
          transform: translate3d(-213%, -65%, 0vw) scale(0.8);
        }

        @include m.breakpoint(lg, min) {
          transform: translate3d(-100%, -100%, 0vw) scale(1);
        }
      }

      &:nth-child(8) .active-reset {
        transform: translate3d(-120%, -08%, 0vw) scale(0.6);

        @include m.breakpoint(sm, min) {
          transform: translate3d(-107%, -40%, 0vw) scale(0.88);
        }

        @include m.breakpoint(md, min) {
          transform: translate3d(-296%, -49%, 0vw) scale(1.08);
        }

        @include m.breakpoint(lg, min) {
          transform: translate3d(-193%, -94%, 0vw) scale(1.1);
        }
      }

      &:nth-child(9) .active-reset {
        transform: translate3d(-20%, -90%, 0) scale(0.58);

        @include m.breakpoint(sm, min) {
          transform: translate3d(-205%, -89%, 0vw) scale(0.88);
        }

        @include m.breakpoint(md, min) {
          transform: translate3d(-13%, -100%, 0vw) scale(0.8);
        }

        @include m.breakpoint(lg, min) {
          transform: translate3d(-300%, -100%, 0vw) scale(1);
        }
      }

      &:nth-child(10) .active-reset {
        transform: translate3d(-120%, -90%, 0) scale(0.58);

        @include m.breakpoint(sm, min) {
          transform: translate3d(-5%, -164%, 0vw) scale(0.88);
        }

        @include m.breakpoint(md, min) {
          transform: translate3d(-113%, -100%, 0vw) scale(0.8);
        }

        @include m.breakpoint(lg, min) {
          transform: translate3d(-400%, -100%, 0vw) scale(1);
        }
      }
    }

    &.getouttahere {
      z-index: 50;

      .active-reset {
        transition: transform 0.5s ease-in-out;
      }

      .graphic-item {
        transition-duration: .45s;

        &.album-cover {
        }

        &.album-face {
          transition: transform 0.5s ease-in-out;
        }

        &.longboi1,
        &.longboi2,
        &.medboi1,
        &.medboi2,
        &.shortboi1,
        &.shortboi2 {
          picture {
            transition-delay: 0.3s;
          }
        }
      }
    }

    // SPECIALTY ALBUMS
    &.vinyl {
      .graphic-item {
        &.album-cover {
          transform: translate3d(0%, 0%, 1vw) rotate3d(0, 0, 1, -33deg);
        }

        &.album-face {
          transform: translate3d(0%, 0%, 0vw) rotate3d(0, 0, 1, -90deg);
        }
      }

      &:hover {
        .album-cover {
          transform: translate3d(-20%, 38%, 2vw) rotate3d(0, 0, 1, -65deg);
        }

        .album-face {
          transform: translate3d(-5%, 5%, 0vw) rotate3d(0, 0, 1, -30deg);
        }
      }

      &.active {
        .album-cover {
          transition: transform 1s cubic-bezier(0.6, 0.25, 0.6, 1.2);
          transform: translate3d(49%, 22%, 65vw) rotate3d(0.4, 1.3, 0, 20deg);
        }

        .album-face {
          transition: all 1s ease-in-out;
          transform: translate3d(132%, 24%, 66vw);
          perspective: 100vw;
          perspective-origin: center;
          transform-style: preserve-3d;

          @include m.breakpoint(md, min) {
            transform: translate3d(180%, 24%, 66vw);

          }
        }

        .lonelyboi {
          transform: translate3d(107%, 290%, 44vw) rotate3d(6.2, 1.1, -5.1, 30deg);

          @include m.breakpoint(md, min) {
            transform: translate3d(121%, 97%, 46vw) rotate3d(0, -0.2, 1.1, 150deg);
          }

          picture {
            transform: scale(2);
          }
        }
      }
    }

    &.cassette {
      .graphic-item {
        &.tape-face {
          transform: translate3d(0, 16%, -20vw) rotate3d(0, 0, 1, 10deg);

          picture {
            border-radius: 6px;
            background: rgba(0, 0, 0, 0.35);
          }
        }

        &.album-cover {
          transform: translate3d(0, 0, -25vw) rotate3d(0, 0, 1, -6deg);
        }

        &.lonelyboi {
          transform: translate3d(0%, 0%, -40vw) rotate3d(0, 0, 1, -22deg);
        }
      }

      &:hover {
        .tape-face {
          transform: translate3d(-15%, -14%, -20vw) rotate3d(0, 0, 1, -15deg);
        }

        .album-cover {
          transform: translate3d(40%, -3%, -25vw) rotate3d(0, 0, 1, 17deg);
        }

        .lonelyboi {
          transform: translate3d(-25%, 50%, -40vw) rotate3d(0, 0, 1, -22deg);
        }
      }

      &.active {
        .tape-face {
          transition: transform 1s ease-in-out;
          transform: translate3d(138%, 48%, 55vw) rotate3d(0, 0, 1, 22deg);

          @include m.breakpoint(md, min) {
            transform: translate3d(140%, 67%, 55vw) rotate3d(0, 0, 1, 52deg);
          }
        }

        .album-cover {
          transform: translate3d(158%, 102%, 43vw) rotate3d(1, -5, 0.1, 20deg);

          @include m.breakpoint(md, min) {
            transform: translate3d(218%, 25%, 60vw) rotate3d(1, -5, 0.1, 60deg);
          }
        }

        .lonelyboi {
          transition: transform 1.15s ease-in-out;
          transform: translate3d(46%, 25%, 62vw) rotate3d(2, 10, 0.1, 20deg);
        }
      }
    }

    &.no-jacket {
      &.active {
        .album-cover {
          transition: transform 1s cubic-bezier(0.6, 0.25, 0.6, 1.2);
          transform: translate3d(40%, 20%, 60vw) rotate3d(0.7, 4.5, -0.1, 9deg);

          @media only screen and (min-width: 767px) {
            transform: translate3d(25%, 38%, 50vw) rotate3d(0.7, 4.5, -0.1, 20deg);
          }
        }

        .album-face {
          transform: translate3d(132%, 20%, 60vw);

          @media only screen and (min-width: 767px) {
            transform: translate3d(105%, 40%, 50vw);
          }
        }
      }
    }
  }
}

// TEES STYLES
.tee-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

  .single-tee {
    cursor: pointer;
    width: 80px;
    transition: all 0.2s ease-in-out;

    @media only screen and (min-width: 786px) {
      width: 150px;
    }

    &.rotateNone {
      transform: rotate(0)
    }

    &.rotateLeftLess {
      transform: rotate(-2.5deg)
    }

    &.rotateRightLess {
      transform: rotate(2.5deg)
    }

    &.rotateLeft {
      transform: rotate(-5deg)
    }

    &.rotateRight {
      transform: rotate(5deg)
    }

    &.rotateLeftMore {
      transform: rotate(-7.5deg)
    }

    &.rotateRightMore {
      transform: rotate(7.5deg)
    }

    &:hover {
      transform: scale(1.2) translateY(-30%);
      z-index: 3;
    }

    img {
      margin: 0 -15% -50%;
      max-width: 130%;
    }
  }
}

.single-tee-hires-wrap,
.album-hires-wrap {
  background: var(--background-modal);
  position: fixed;
  top: 50vh;
  bottom: 50vh;
  left: 0vw;
  right: 0vw;
  opacity: 0;
  transition: all 0.5s ease-in-out !important;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  //padding: 30px;

  &.active {
    top: 15vh;
    bottom: 15vh;
    opacity: 1;
    z-index: 100;

    .expand-close {
      top: 10px;
      left: 10px;
      opacity: 1;
      transform: rotate(45deg);

      &:hover {
        transform: rotate(45deg) scale(1.2);
      }
    }
  }

  .hires-img {
    margin: 0 auto;
    max-height: 100%;

    img {
      max-height: 100%;
    }
  }
}

.album-hires-wrap {
  position: absolute;
  top: 50%;
  bottom: 50%;
  right: auto;
  left: calc(((100vw - 100%) / 2) * -1);
  width: 100vw;

  &.active {
    cursor: pointer;
    top: 2%;
    bottom: 54%;
    z-index: 40;

    &.modal-wrap-2,
    &.modal-wrap-3 {
      top: 10%;
      bottom: 46%;
    }

    &.modal-wrap-4,
    &.modal-wrap-5 {
      top: 30%;
      bottom: 26%;
    }

    &.modal-wrap-6,
    &.modal-wrap-7 {
      top: 58%;
      bottom: 10%;
    }

    &.modal-wrap-8,
    &.modal-wrap-9 {
      top: 65%;
      bottom: -2%;
    }

    @include m.breakpoint(sm, min) {
      &.modal-wrap-0,
      &.modal-wrap-1,
      &.modal-wrap-2 {
        top: 2%;
        bottom: 18%;
      }

      &.modal-wrap-3,
      &.modal-wrap-4,
      &.modal-wrap-5 {
        top: 7.33%;
        bottom: 12.67%;
      }

      &.modal-wrap-6,
      &.modal-wrap-7,
      &.modal-wrap-8 {
        top: 32%;
        bottom: 7.33%;
      }

      &.modal-wrap-9 {
        top: 37.67%;
        bottom: 2%;
      }
    }

    @include m.breakpoint(md, min) {
      top: 3%;
      bottom: 33%;

      &.modal-wrap-4,
      &.modal-wrap-5,
      &.modal-wrap-6,
      &.modal-wrap-7 {
        top: 18%;
        bottom: 18%;
      }

      &.modal-wrap-8,
      &.modal-wrap-9 {
        top: 33%;
        bottom: 3%;
      }
    }

    @include m.breakpoint(lg, min) {
      top: 4% !important;
      bottom: 4% !important;
    }

    //.expand-close {
    //  top: 10px;
    //  left: 10px;
    //  transform: rotate(45deg);
    //  opacity: 1;
    //  z-index: 55;
    //  cursor: pointer;
    //}
  }
}
