@font-face {
  font-family: 'Foro Rounded';
  src: url('ForoRounded-Thin.woff2') format('woff2'),
  url('ForoRounded-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Foro Rounded';
  src: url('ForoRounded-ExtraLight.woff2') format('woff2'),
  url('ForoRounded-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Foro Rounded';
  src: url('ForoRounded-Light.woff2') format('woff2'),
  url('ForoRounded-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Foro Rounded';
  src: url('ForoRounded-Regular.woff2') format('woff2'),
  url('ForoRounded-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Foro Rounded';
  src: url('ForoRounded-Medium.woff2') format('woff2'),
  url('ForoRounded-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Foro Rounded';
  src: url('ForoRounded-Bold.woff2') format('woff2'),
  url('ForoRounded-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Foro Rounded';
  src: url('ForoRounded-ExtraBold.woff2') format('woff2'),
  url('ForoRounded-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Foro Rounded';
  src: url('ForoRounded-Black.woff2') format('woff2'),
  url('ForoRounded-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
