.root {
  display: flex;
  flex-direction: column;
  justify-items: center;
  gap: var(--size-1);
  border-radius: var(--size-1);
  transition: all 0.2s ease;
  height: 48px;

  &::after {
    content: "";
    display: block;
    position: absolute;
    background: black;
    height: 0;
    top: auto;
    margin-top: 44px;
    left: -8px;
    right: 100vw;
    width: 100vw;
    z-index: 2;
    transition: all 0.35s cubic-bezier(0.4, 0, 0.2, 1);
  }

  &.isCollapsed {
    background: none;

    .expand-btn {
      transform: rotate(180deg);
    }

    & + ul {
      max-height: 0;
      padding-block: 0 !important;
      opacity: 0;
    }
  }

  > div {
    align-items: center;
  }

  &.dense a {
    padding: calc(var(--size-1) / 2) var(--size-1);
  }

  .content {
    display: flex;
    align-items: center;

    .titles {
      flex: 1;
    }
  }

  a {
    padding: 10px var(--size-1);
    color: var(--text-primary);
    flex: 1;

    &:hover {
      color: var(--text-primary);
    }
  }

  &:hover {
    background: var(--action-hover);

    &::after {
      opacity: 1;
      height: 12px;
      z-index: 3;
    }
  }

  &.active {
    background: var(--action-selected);

    &::after {
      transition: height 0.25s ease-in-out, opacity 2s ease-in-out;
      height: var(--main-body-max-height);
      opacity: 0;
      pointer-events: none;
      z-index: 4;
    }

    a {
      color: var(--text-primary);
    }
  }

  &.rust, &.rust::after {
    background: var(--home-page-color);
  }

  &.olive, &.olive::after {
    background: var(--graphics-page-color);
  }

  &.dusk, &.dusk::after {
    background: var(--webdev-page-color);
  }

  &.aqua, &.aqua::after {
    background: var(--branding-page-color);
  }

  &.plum, &.plum::after {
    background: var(--ecommerce-page-color);
  }
}
