
.container {
  &.extra-content {
    @media (min-width: 768px) {
      width: 60%;
      margin: 0 auto;
    }
  }
}

.root {
  margin-bottom: var(--size-4);

  &.reverse {
    flex-direction: row-reverse;

    .website-screenshots {
      .website-logo {
        left: 0;
        right: auto;
      }
    }
  }
}

.website {
  &-content {
    width: 32%;
    @media (max-width: 767px) {
      margin-bottom: 30px;
      width: 100%;
    }
  }

  &-screenshots {
    flex: auto;
    position: relative;
    height: 0;
    padding-bottom: 38%;
    perspective: 100vw;
    transform-style: preserve-3d;

    @media (max-width: 767px) {
      margin-bottom: 30px;
      width: 85%;
      padding-bottom: 50%;
    }

    @media (min-width: 768px) {
      &.half {
        .website {
          &-image {
            height: 60%;

            &.active {
              &::before {
                top: -3.5%;
              }
            }
          }
        }
      }
    }

    .website {
      &-logo {
        position: absolute;
        bottom: -7%;
        right: 0;
        width: 33.34%;
        z-index: 11;
        transform: translateZ(1vw);
      }

      &-body {
        overflow: hidden;
      }

      &-image {
        position: absolute;
        bottom: 0;
        left: 30%;
        right: 30%;
        max-height: 80%;
        box-shadow: 0 0 40px -10px #000000;
        transition: all 0.35s ease;
        cursor: pointer;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        gap: 0;

        &.bump-up {
          bottom: 30%;
        }

        &::after {
          content: " ";
          display: block;
          background: #000000;
          border-radius: 50%;
          z-index: -1;
          box-shadow: 0 0 20px 35px #000000;
          opacity: 0.25;
          transition: opacity 0.5s ease-in-out;
        }

        &-a {
          z-index: 10;
          transition-delay: 1s;

          &::after {
            transition-delay: 1s;
          }
        }

        &-b, &-c {
          transform: rotateY(30deg) translateX(3vw) translateY(-1vw) translateZ(-8vw);
          //top:10%;
          bottom: 10%;
          left: 0%;
          right: 60%;
          z-index: 9;
          transition-delay: 0.75s;

          &::after {
            transition-delay: 0.75s;
          }
        }

        &-c {
          transform: rotateY(-30deg) translateX(-3vw) translateY(-1vw) translateZ(-8vw);
          left: 60%;
          right: 0%;
          transition-delay: 0.5s;

          &::after {
            transition-delay: 0.5s;
          }
        }

        &-d, &-e {
          transform: rotateY(-40deg) translateX(-15vw) translateY(-2vw) translateZ(-15vw);
          //top:0%;
          bottom: 20%;
          left: 16%;
          right: 44%;
          z-index: 8;
          transition-delay: 0.25s;

          &::after {
            transition-delay: 0.25s;
          }
        }

        &-e {
          transform: rotateY(40deg) translateX(15vw) translateY(-2vw) translateZ(-15vw);
          left: 44%;
          right: 16%;
          transition-delay: 0s;

          &::after {
            transition-delay: 0s;
          }
        }

        .expand-close {
          display: flex;
          position: absolute;
          width: 26px;
          height: 26px;
          background: #333333;
          color: #FFFFFF;
          top: calc(50% - 13px);
          left: calc(50% - 13px);
          font-size: 24px;
          align-items: center;
          justify-content: center;
          font-family: Arial, Helvetica, sans-serif;
          border-radius: 50%;
          opacity: 0;
          transition: all 0.2s ease-in-out;
          z-index: 20;

          &:hover {
            transform: scale(1.1);
          }
        }

        &:hover {
          box-shadow: 0 0 20px 0 #FFFFFF;
          //transition: all 0.25s ease-in-out;

          .expand-close {
            opacity: 1;
          }
        }

        &.active {
          left: 6%;
          right: 6%;
          bottom: 0%;
          max-height: 100% !important;
          z-index: 12;
          transform: translateZ(15vw);

          .website-body {
            overflow: scroll;
          }

          &::before {
            top: -4.5%;
          }

          .expand-close {
            top: -16px;
            left: -12px;
            transform: rotate(-135deg);

            &:hover {
              transform: rotate(-135deg) scale(1.1);
            }
          }
        }
      }
    }

    &.loading {
      .website-image {
        max-height: 0% !important;
        bottom: 10%;
        opacity: 0;

        &::after {
          opacity: 0;
        }
      }
    }

    &.prepared {
      .website-image {
        transition-delay: 0s !important;
      }
    }
  }
}
