.root {
  color: var(--link-primary);

  &:hover {
    color: var(--link-primary-hover);
  }

  &.active {
    color: var(--link-primary-hover);
  }

  &[aria-disabled="true"] {
    color: var(--link-primary-disabled);
    position: relative;
    cursor: not-allowed;
  }
}
