
.resume-downloads {
  .resume {
    position: relative;
    text-align: center;

    &-letter {
      flex: auto;
      width: 100%;
    }

    &-plain,
    &-graphic {
      a {
        margin: 0;
        max-width: 200px;
        overflow: hidden;

        img {
          display: block;
          animation: jump 0.72s ease-in-out forwards;
          animation-delay: 1.35s;
          transform: translateY(101%);
          transition: all 0.2s ease-in-out;
        }
      }

      &::before {
        content: " ";
        display: block;
        position: absolute;
        bottom: -4px;
        right: -6%;
        left: -7%;
        border-radius: 50%;
        animation: fadeIn 1s ease-in-out 1s forwards;
        box-shadow: 0 0 15px 6px #000000;
        opacity: 0;
        height: 6px;
        background: #000;
      }
    }

    a {
      display: block;
      width: 100%;

      span {
        background: var(--background-default);
        color: var(--background-contrast);
        display: block;
        margin-left: 50%;
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translate(-50%, 50%);
        white-space: nowrap;
        padding: 10px 20px;
        opacity: 0;
        transition: all 0.2s ease-in-out;
      }

      &:hover {
        span {
          opacity: 1;
        }
      }
    }
  }
}

@keyframes jump {
  0% {
    transform: translateY(100%);
  }

  90% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(5%);
  }

}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .5;
  }
}
