.root {
  fill: var(--logo-fill) !important;
  color: var(--logo-fill) !important;
  height: 100%;
  width: 100%;

  &:hover {
    fill: var(--logo-fill) !important;
    color: var(--logo-fill) !important;
  }
}
