.root {
  min-height: 100%;
  overflow: hidden;

  .sidebarWrap {
    width: 240px;
  }

  .pageWrap {
    display: flex;
    flex-direction: column;
    height: 100%;

    main {
      display: flex;
      flex: 1;
      transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
      box-shadow: var(--shadow-elevation-8);
      min-height: var(--main-body-max-height);

      &.rust {
        background: var(--home-page-color);
      }

      &.olive {
        background: var(--graphics-page-color);
      }

      &.dusk {
        background: var(--webdev-page-color);
      }

      &.aqua {
        background: var(--branding-page-color);
      }

      &.plum {
        background: var(--ecommerce-page-color);
      }
    }
  }
}
