.root {
  border-radius: var(--size-1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: var(--size-2);

  .list-wrap {
    border-radius: var(--size-1);

    &.active {
      background: var(--background-darker-25);
      border: 1px solid var(--divider);


      > li:first-of-type {
        background: var(--primary-main);

        a, svg {
          color: var(--primary-contrast);
        }
      }
    }

    .list-wrap.active {
      background: var(--background-darker-75);

      > li {
        background: var(--action-selected);

        a, svg {
          color: var(--text-primary);
        }
      }
    }
  }

  .list {
    overflow: hidden;
    padding: var(--size-1) calc(var(--size-1) / 2);
    max-height: 400px;
    gap: 1px;

    .list {
      padding: calc(var(--size-1) / 2);

      li {
        padding: calc(var(--size-1) / 4) var(--size-1);

        p {
          font-size: 13px;
        }
      }
    }
  }
}
