@use 'src/assets/mixins' as m;

.root {
  align-items: center;
  border-block-start: 1px solid var(--divider);
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  padding: var(--size-2) var(--size-1);
  line-height: 1rem;
  width: 100%;
  height: var(--footer-height);

  @include m.breakpoint(sm, min) {
    padding: var(--size-2) var(--size-3);
    flex-direction: row;
    gap: var(--size-6);
  }

  .links {
    ul {
      display: flex;
      justify-content: center;
      gap: var(--size-1);
      white-space: nowrap;

      li a {
        color: var(--text-primary);
        line-height: 20px;

        &:hover {
          color: var(--info-main);
        }
      }
    }
  }
}
