.root {
  border-block-end: 1px solid var(--gray-20);
  display: flex;
  flex-direction: row;
  height: 56px;
  padding-inline: 24px;
  width: 100%;

  .breadCrumb {
    display: flex;
    flex: 1;

    ul {
      display: flex;
      gap: 8px;
    }
  }
}
