body,
a,
button,
a svg,
button svg,
input,
.input,
select,
textarea,
label,
.label,
.transition-all {
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

#gradientBarMove {
  animation: gradientMove 5s ease infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0 50%;
  }
}
