// Material/Colors
$aqua-50: #eaf7f8;
$aqua-100: #bce6e8;
$aqua-200: #9cd9dd;
$aqua-300: #6fc8cd;
$aqua-400: #53bdc4;
$aqua-500: #28adb5;
$aqua-500-8: rgba(#28adb5, .08);
$aqua-500-12: rgba(#28adb5, .12);
$aqua-500-16: rgba(#28adb5, .16);
$aqua-500-24: rgba(#28adb5, .24);
$aqua-500-32: rgba(#28adb5, .32);
$aqua-500-40: rgba(#28adb5, .40);
$aqua-500-48: rgba(#28adb5, .48);
$aqua-500-56: rgba(#28adb5, .56);
$aqua-500-64: rgba(#28adb5, .64);
$aqua-500-72: rgba(#28adb5, .72);
$aqua-500-80: rgba(#28adb5, .80);
$aqua-500-88: rgba(#28adb5, .88);
$aqua-500-92: rgba(#28adb5, 92);
$aqua-600: #249da5;
$aqua-700: #1c7b81;
$aqua-700-8: rgba(#1c7b81, .08);
$aqua-700-12: rgba(#1c7b81, .12);
$aqua-700-16: rgba(#1c7b81, .16);
$aqua-700-24: rgba(#1c7b81, .24);
$aqua-700-32: rgba(#1c7b81, .32);
$aqua-700-40: rgba(#1c7b81, .40);
$aqua-700-48: rgba(#1c7b81, .48);
$aqua-700-56: rgba(#1c7b81, .56);
$aqua-700-64: rgba(#1c7b81, .64);
$aqua-700-72: rgba(#1c7b81, .72);
$aqua-700-80: rgba(#1c7b81, .80);
$aqua-700-88: rgba(#1c7b81, .88);
$aqua-700-92: rgba(#1c7b81, 92);
$aqua-800: #165f64;
$aqua-900: #11494c;
$dusk-50: #e6eef2;
$dusk-100: #b0ccd6;
$dusk-100-8: rgba(#b0ccd6, .08);
$dusk-100-12: rgba(#b0ccd6, .12);
$dusk-100-16: rgba(#b0ccd6, .16);
$dusk-100-24: rgba(#b0ccd6, .24);
$dusk-100-32: rgba(#b0ccd6, .32);
$dusk-100-40: rgba(#b0ccd6, .40);
$dusk-100-48: rgba(#b0ccd6, .48);
$dusk-100-56: rgba(#b0ccd6, .56);
$dusk-100-64: rgba(#b0ccd6, .64);
$dusk-100-72: rgba(#b0ccd6, .72);
$dusk-100-80: rgba(#b0ccd6, .80);
$dusk-100-88: rgba(#b0ccd6, .88);
$dusk-100-92: rgba(#b0ccd6, 92);
$dusk-200: #8ab3c2;
$dusk-300: #558ea6;
$dusk-300-8: rgba(#558ea6, .08);
$dusk-300-12: rgba(#558ea6, .12);
$dusk-300-16: rgba(#558ea6, .16);
$dusk-300-24: rgba(#558ea6, .24);
$dusk-300-32: rgba(#558ea6, .32);
$dusk-300-40: rgba(#558ea6, .40);
$dusk-300-48: rgba(#558ea6, .48);
$dusk-300-56: rgba(#558ea6, .56);
$dusk-300-64: rgba(#558ea6, .64);
$dusk-300-72: rgba(#558ea6, .72);
$dusk-300-80: rgba(#558ea6, .80);
$dusk-300-88: rgba(#558ea6, .88);
$dusk-300-92: rgba(#558ea6, 92);
$dusk-400: #347895;
$dusk-500: #01567a;
$dusk-500-8: rgba(#01567a, .08);
$dusk-500-12: rgba(#01567a, .12);
$dusk-500-16: rgba(#01567a, .16);
$dusk-500-24: rgba(#01567a, .24);
$dusk-500-32: rgba(#01567a, .32);
$dusk-500-40: rgba(#01567a, .40);
$dusk-500-48: rgba(#01567a, .48);
$dusk-500-56: rgba(#01567a, .56);
$dusk-500-64: rgba(#01567a, .64);
$dusk-500-72: rgba(#01567a, .72);
$dusk-500-80: rgba(#01567a, .80);
$dusk-500-88: rgba(#01567a, .88);
$dusk-500-92: rgba(#01567a, 92);
$dusk-600: #014e6f;
$dusk-700: #013d57;
$dusk-800: #012f43;
$dusk-900: #002433;
$olive-50: #f5f6f1;
$olive-100: #e1e4d4;
$olive-200: #d3d7c0;
$olive-300: #bfc4a3;
$olive-400: #b2b991;
$olive-500: #9fa775;
$olive-600: #91986a;
$olive-700: #717753;
$olive-700-8: rgba(#717753, .08);
$olive-700-12: rgba(#717753, .12);
$olive-700-16: rgba(#717753, .16);
$olive-700-24: rgba(#717753, .24);
$olive-700-32: rgba(#717753, .32);
$olive-700-40: rgba(#717753, .40);
$olive-700-48: rgba(#717753, .48);
$olive-700-56: rgba(#717753, .56);
$olive-700-64: rgba(#717753, .64);
$olive-700-72: rgba(#717753, .72);
$olive-700-80: rgba(#717753, .80);
$olive-700-88: rgba(#717753, .88);
$olive-700-92: rgba(#717753, 92);
$olive-800: #575c40;
$olive-900: #434631;
$rust-50: #f9ece8;
$rust-100: #ebc3b8;
$rust-200: #e2a596;
$rust-300: #d57c66;
$rust-300-8: rgba(#d57c66, .08);
$rust-300-12: rgba(#d57c66, .12);
$rust-300-16: rgba(#d57c66, .16);
$rust-300-24: rgba(#d57c66, .24);
$rust-300-32: rgba(#d57c66, .32);
$rust-300-40: rgba(#d57c66, .40);
$rust-300-48: rgba(#d57c66, .48);
$rust-300-56: rgba(#d57c66, .56);
$rust-300-64: rgba(#d57c66, .64);
$rust-300-72: rgba(#d57c66, .72);
$rust-300-80: rgba(#d57c66, .80);
$rust-300-88: rgba(#d57c66, .88);
$rust-300-92: rgba(#d57c66, 92);
$rust-400: #cd6348;
$rust-500: #c03c1a;
$rust-500-8: rgba(#c03c1a, .08);
$rust-500-12: rgba(#c03c1a, .12);
$rust-500-16: rgba(#c03c1a, .16);
$rust-500-24: rgba(#c03c1a, .24);
$rust-500-32: rgba(#c03c1a, .32);
$rust-500-40: rgba(#c03c1a, .40);
$rust-500-48: rgba(#c03c1a, .48);
$rust-500-56: rgba(#c03c1a, .56);
$rust-500-64: rgba(#c03c1a, .64);
$rust-500-72: rgba(#c03c1a, .72);
$rust-500-80: rgba(#c03c1a, .80);
$rust-500-88: rgba(#c03c1a, .88);
$rust-500-92: rgba(#c03c1a, 92);
$rust-600: #af3718;
$rust-700: #882b12;
$rust-700-8: rgba(#882b12, .08);
$rust-700-12: rgba(#882b12, .12);
$rust-700-16: rgba(#882b12, .16);
$rust-700-24: rgba(#882b12, .24);
$rust-700-32: rgba(#882b12, .32);
$rust-700-40: rgba(#882b12, .40);
$rust-700-48: rgba(#882b12, .48);
$rust-700-56: rgba(#882b12, .56);
$rust-700-64: rgba(#882b12, .64);
$rust-700-72: rgba(#882b12, .72);
$rust-700-80: rgba(#882b12, .80);
$rust-700-88: rgba(#882b12, .88);
$rust-700-92: rgba(#882b12, 92);
$rust-800: #6a210e;
$rust-900: #51190b;
$plum-50: #f4edef;
$plum-100: #dec6cd;
$plum-200: #ceaab4;
$plum-300: #b78492;
$plum-400: #a96c7d;
$plum-500: #94475d;
$plum-500-8: rgba(#94475d, .08);
$plum-500-12: rgba(#94475d, .12);
$plum-500-16: rgba(#94475d, .16);
$plum-500-24: rgba(#94475d, .24);
$plum-500-32: rgba(#94475d, .32);
$plum-500-40: rgba(#94475d, .40);
$plum-500-48: rgba(#94475d, .48);
$plum-500-56: rgba(#94475d, .56);
$plum-500-64: rgba(#94475d, .64);
$plum-500-72: rgba(#94475d, .72);
$plum-500-80: rgba(#94475d, .80);
$plum-500-88: rgba(#94475d, .88);
$plum-500-92: rgba(#94475d, 92);
$plum-600: #874155;
$plum-600-8: rgba(#874155, .08);
$plum-600-12: rgba(#874155, .12);
$plum-600-16: rgba(#874155, .16);
$plum-600-24: rgba(#874155, .24);
$plum-600-32: rgba(#874155, .32);
$plum-600-40: rgba(#874155, .40);
$plum-600-48: rgba(#874155, .48);
$plum-600-56: rgba(#874155, .56);
$plum-600-64: rgba(#874155, .64);
$plum-600-72: rgba(#874155, .72);
$plum-600-80: rgba(#874155, .80);
$plum-600-88: rgba(#874155, .88);
$plum-600-92: rgba(#874155, 92);
$plum-700: #693242;
$plum-800: #512733;
$plum-900: #3e1e27;
$white-8: rgba(#ffffff, .08);
$white-12: rgba(#ffffff, .12);
$white-16: rgba(#ffffff, .16);
$white-24: rgba(#ffffff, .24);
$white-32: rgba(#ffffff, .32);
$white-40: rgba(#ffffff, .40);
$white-48: rgba(#ffffff, .48);
$white-56: rgba(#ffffff, .56);
$white-64: rgba(#ffffff, .64);
$white-72: rgba(#ffffff, .72);
$white-80: rgba(#ffffff, .80);
$white-88: rgba(#ffffff, .88);
$white-92: rgba(#ffffff, 92);
$white-100: #ffffff;
$slate-25: #f5f5f7;
$slate-50: #ebecef;
$slate-75: #e2e3e8;
$slate-100: #d8d9df;
$slate-200: #bebfca;
$slate-300: #a4a6b4;
$slate-400: #9092a4;
$slate-500: #7c7f94;
$slate-500-8: rgba(#7c7f94, .08);
$slate-500-12: rgba(#7c7f94, .12);
$slate-500-16: rgba(#7c7f94, .16);
$slate-500-24: rgba(#7c7f94, .24);
$slate-500-32: rgba(#7c7f94, .32);
$slate-500-40: rgba(#7c7f94, .40);
$slate-500-48: rgba(#7c7f94, .48);
$slate-500-56: rgba(#7c7f94, .56);
$slate-500-64: rgba(#7c7f94, .64);
$slate-500-72: rgba(#7c7f94, .72);
$slate-500-80: rgba(#7c7f94, .80);
$slate-500-88: rgba(#7c7f94, .88);
$slate-500-92: rgba(#7c7f94, 92);
$slate-600: #656778;
$slate-700: #4d4f5c;
$slate-700-8: rgba(#4d4f5c, .08);
$slate-700-12: rgba(#4d4f5c, .12);
$slate-700-16: rgba(#4d4f5c, .16);
$slate-700-24: rgba(#4d4f5c, .24);
$slate-700-32: rgba(#4d4f5c, .32);
$slate-700-40: rgba(#4d4f5c, .40);
$slate-700-48: rgba(#4d4f5c, .48);
$slate-700-56: rgba(#4d4f5c, .56);
$slate-700-64: rgba(#4d4f5c, .64);
$slate-700-72: rgba(#4d4f5c, .72);
$slate-700-80: rgba(#4d4f5c, .80);
$slate-700-88: rgba(#4d4f5c, .88);
$slate-700-92: rgba(#4d4f5c, 92);
$slate-800: #31323b;
$slate-900: #24252b;
$slate-900-8: rgba(#24252b, .08);
$slate-900-12: rgba(#24252b, .12);
$slate-900-16: rgba(#24252b, .16);
$slate-900-24: rgba(#24252b, .24);
$slate-900-32: rgba(#24252b, .32);
$slate-900-40: rgba(#24252b, .40);
$slate-900-48: rgba(#24252b, .48);
$slate-900-56: rgba(#24252b, .56);
$slate-900-64: rgba(#24252b, .64);
$slate-900-72: rgba(#24252b, .72);
$slate-900-80: rgba(#24252b, .80);
$slate-900-88: rgba(#24252b, .88);
$slate-900-92: rgba(#24252b, 92);
