// Material/Colors
$blue-50: #dcdeef;
$blue-100: #babddf;
$blue-100-8: rgba(#babddf, .08);
$blue-100-12: rgba(#babddf, .12);
$blue-100-16: rgba(#babddf, .16);
$blue-100-24: rgba(#babddf, .24);
$blue-100-32: rgba(#babddf, .32);
$blue-100-40: rgba(#babddf, .40);
$blue-100-48: rgba(#babddf, .48);
$blue-100-56: rgba(#babddf, .56);
$blue-100-64: rgba(#babddf, .64);
$blue-100-72: rgba(#babddf, .72);
$blue-100-80: rgba(#babddf, .80);
$blue-100-88: rgba(#babddf, .88);
$blue-100-92: rgba(#babddf, 92);
$blue-200: #8b91ca;
$blue-300: #5c65b5;
$blue-300-8: rgba(#5c65b5, .08);
$blue-300-12: rgba(#5c65b5, .12);
$blue-300-16: rgba(#5c65b5, .16);
$blue-300-24: rgba(#5c65b5, .24);
$blue-300-32: rgba(#5c65b5, .32);
$blue-300-40: rgba(#5c65b5, .40);
$blue-300-48: rgba(#5c65b5, .48);
$blue-300-56: rgba(#5c65b5, .56);
$blue-300-64: rgba(#5c65b5, .64);
$blue-300-72: rgba(#5c65b5, .72);
$blue-300-80: rgba(#5c65b5, .80);
$blue-300-88: rgba(#5c65b5, .88);
$blue-300-92: rgba(#5c65b5, 92);
$blue-400: #3944a5;
$blue-500: #01597A;
$blue-500-8: rgba(#01597A, .08);
$blue-500-12: rgba(#01597A, .12);
$blue-500-16: rgba(#01597A, .16);
$blue-500-24: rgba(#01597A, .24);
$blue-500-32: rgba(#01597A, .32);
$blue-500-40: rgba(#01597A, .40);
$blue-500-48: rgba(#01597A, .48);
$blue-500-56: rgba(#01597A, .56);
$blue-500-64: rgba(#01597A, .64);
$blue-500-72: rgba(#01597A, .72);
$blue-500-80: rgba(#01597A, .80);
$blue-500-88: rgba(#01597A, .88);
$blue-500-92: rgba(#01597A, 92);
$blue-600: #121c77;
$blue-700: #0d1559;
$blue-800: #0a1043;
$blue-900: #05092e;
$green-50: #ebfae6;
$green-100: #c0efb0;
$green-200: #a1e88a;
$green-300: #76dd54;
$green-400: #5cd633;
$green-500: #33cc00;
$green-600: #2eba00;
$green-700: #72765B;
$green-700-8: rgba(#72765B, .08);
$green-700-12: rgba(#72765B, .12);
$green-700-16: rgba(#72765B, .16);
$green-700-24: rgba(#72765B, .24);
$green-700-32: rgba(#72765B, .32);
$green-700-40: rgba(#72765B, .40);
$green-700-48: rgba(#72765B, .48);
$green-700-56: rgba(#72765B, .56);
$green-700-64: rgba(#72765B, .64);
$green-700-72: rgba(#72765B, .72);
$green-700-80: rgba(#72765B, .80);
$green-700-88: rgba(#72765B, .88);
$green-700-92: rgba(#72765B, 92);
$green-800: #1c7000;
$green-900: #155600;
$orange-50: #fff5e6;
$orange-100: #ffdfb0;
$orange-200: #ffd08a;
$orange-300: #ffbb54;
$orange-400: #ffad33;
$orange-500: #ff9900;
$orange-500-8: rgba(#ff9900, .08);
$orange-500-12: rgba(#ff9900, .12);
$orange-500-16: rgba(#ff9900, .16);
$orange-500-24: rgba(#ff9900, .24);
$orange-500-32: rgba(#ff9900, .32);
$orange-500-40: rgba(#ff9900, .40);
$orange-500-48: rgba(#ff9900, .48);
$orange-500-56: rgba(#ff9900, .56);
$orange-500-64: rgba(#ff9900, .64);
$orange-500-72: rgba(#ff9900, .72);
$orange-500-80: rgba(#ff9900, .80);
$orange-500-88: rgba(#ff9900, .88);
$orange-500-92: rgba(#ff9900, 92);
$orange-600: #e97e00;
$orange-700: #8d3822;
$orange-700-8: rgba(#8d3822, .08);
$orange-700-12: rgba(#8d3822, .12);
$orange-700-16: rgba(#8d3822, .16);
$orange-700-24: rgba(#8d3822, .24);
$orange-700-32: rgba(#8d3822, .32);
$orange-700-40: rgba(#8d3822, .40);
$orange-700-48: rgba(#8d3822, .48);
$orange-700-56: rgba(#8d3822, .56);
$orange-700-64: rgba(#8d3822, .64);
$orange-700-72: rgba(#8d3822, .72);
$orange-700-80: rgba(#8d3822, .80);
$orange-700-88: rgba(#8d3822, .88);
$orange-700-92: rgba(#8d3822, 92);
$orange-800: #e76107;
$orange-900: #e74a09;
$red-50: #ffebe6;
$red-100: #ffc0b0;
$red-200: #ffa18a;
$red-300: #ff7654;
$red-400: #ff5c33;
$red-500: #ff3300;
$red-500-8: rgba(#ff3300, .08);
$red-500-12: rgba(#ff3300, .12);
$red-500-16: rgba(#ff3300, .16);
$red-500-24: rgba(#ff3300, .24);
$red-500-32: rgba(#ff3300, .32);
$red-500-40: rgba(#ff3300, .40);
$red-500-48: rgba(#ff3300, .48);
$red-500-56: rgba(#ff3300, .56);
$red-500-64: rgba(#ff3300, .64);
$red-500-72: rgba(#ff3300, .72);
$red-500-80: rgba(#ff3300, .80);
$red-500-88: rgba(#ff3300, .88);
$red-500-92: rgba(#ff3300, 92);
$red-600: #e82e00;
$red-600-8: rgba(#e82e00, .08);
$red-600-12: rgba(#e82e00, .12);
$red-600-16: rgba(#e82e00, .16);
$red-600-24: rgba(#e82e00, .24);
$red-600-32: rgba(#e82e00, .32);
$red-600-40: rgba(#e82e00, .40);
$red-600-48: rgba(#e82e00, .48);
$red-600-56: rgba(#e82e00, .56);
$red-600-64: rgba(#e82e00, .64);
$red-600-72: rgba(#e82e00, .72);
$red-600-80: rgba(#e82e00, .80);
$red-600-88: rgba(#e82e00, .88);
$red-600-92: rgba(#e82e00, 92);
$red-700: #b52400;
$red-800: #8c1c00;
$red-900: #6b1500;
$white-8: rgba(#ffffff, .08);
$white-12: rgba(#ffffff, .12);
$white-16: rgba(#ffffff, .16);
$white-24: rgba(#ffffff, .24);
$white-32: rgba(#ffffff, .32);
$white-40: rgba(#ffffff, .40);
$white-48: rgba(#ffffff, .48);
$white-56: rgba(#ffffff, .56);
$white-64: rgba(#ffffff, .64);
$white-72: rgba(#ffffff, .72);
$white-80: rgba(#ffffff, .80);
$white-88: rgba(#ffffff, .88);
$white-92: rgba(#ffffff, 92);
$white-100: #ffffff;
$slate-25: #f5f5f7;
$slate-50: #ebecef;
$slate-75: #e2e3e8;
$slate-100: #d8d9df;
$slate-200: #bebfca;
$slate-300: #a4a6b4;
$slate-400: #9092a4;
$slate-500: #7c7f94;
$slate-500-8: rgba(#7c7f94, .08);
$slate-500-12: rgba(#7c7f94, .12);
$slate-500-16: rgba(#7c7f94, .16);
$slate-500-24: rgba(#7c7f94, .24);
$slate-500-32: rgba(#7c7f94, .32);
$slate-500-40: rgba(#7c7f94, .40);
$slate-500-48: rgba(#7c7f94, .48);
$slate-500-56: rgba(#7c7f94, .56);
$slate-500-64: rgba(#7c7f94, .64);
$slate-500-72: rgba(#7c7f94, .72);
$slate-500-80: rgba(#7c7f94, .80);
$slate-500-88: rgba(#7c7f94, .88);
$slate-500-92: rgba(#7c7f94, 92);
$slate-600: #656778;
$slate-700: #4d4f5c;
$slate-800: #31323b;
$slate-900: #24252b;
$slate-900-8: rgba(#24252b, .08);
$slate-900-12: rgba(#24252b, .12);
$slate-900-16: rgba(#24252b, .16);
$slate-900-24: rgba(#24252b, .24);
$slate-900-32: rgba(#24252b, .32);
$slate-900-40: rgba(#24252b, .40);
$slate-900-48: rgba(#24252b, .48);
$slate-900-56: rgba(#24252b, .56);
$slate-900-64: rgba(#24252b, .64);
$slate-900-72: rgba(#24252b, .72);
$slate-900-80: rgba(#24252b, .80);
$slate-900-88: rgba(#24252b, .88);
$slate-900-92: rgba(#24252b, 92);
