.tee-wrap {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  margin-block-end: var(--size-12);

  .single-tee {
    cursor: pointer;
    width: 80px;
    transition: all 0.2s ease-in-out;

    @media only screen and (min-width: 786px) {
      width: 150px;
    }

    &.rotateNone {
      transform: rotate(0)
    }

    &.rotateLeftLess {
      transform: rotate(-2.5deg)
    }

    &.rotateRightLess {
      transform: rotate(2.5deg)
    }

    &.rotateLeft {
      transform: rotate(-5deg)
    }

    &.rotateRight {
      transform: rotate(5deg)
    }

    &.rotateLeftMore {
      transform: rotate(-7.5deg)
    }

    &.rotateRightMore {
      transform: rotate(7.5deg)
    }

    &:hover {
      transform: scale(1.2) translateY(-30%);
      z-index: 3;
    }

    img {
      margin: 0 -15% -50%;
      max-width: 130%;
    }
  }
}

.expand-close {
  display: flex;
  position: absolute;
  width: 40px;
  height: 40px;
  cursor: pointer;
  background: var(--slate-main);
  color: #FFFFFF;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  font-size: 30px;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 50%;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  z-index: 20;
  transform: translate3d(0, 0, 5vw);

  &:hover {
    transform: translate3d(0, 0, 12vw);
  }
}

.single-tee-hires-wrap {
  background: #222222EE;
  position: fixed;
  top: 50vh;
  bottom: 50vh;
  left: 0vw;
  right: 0vw;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  pointer-events: none;

  &.active {
    top: 15vh;
    bottom: 15vh;
    opacity: 1;
    z-index: 100;
    pointer-events: auto;

    .expand-close {
      top: 10px;
      left: 10px;
      opacity: 1;
      transform: rotate(45deg);

      &:hover {
        transform: rotate(45deg) scale(1.2);
      }
    }
  }

  .hires-img {
    max-height: 100%;
    width: 100%;
    text-align: center;

    img {
      max-height: 100%;
    }
  }
}
