.root {
  color: var(--action-active);
  display: flex;
  justify-content: center;
  align-items: center;

  &.x-large {
    height: 48px;
    width: 48px;

    svg {
      height: 30px;
      width: 30px;
    }
  }

  &.large {
    height: 32px;
    width: 32px;

    svg {
      height: 20px;
      width: 20px;
    }
  }

  &.medium {
    height: 24px;
    width: 24px;

    svg {
      height: 16px;
      width: 16px;
    }
  }

  &.small {
    height: 20px;
    width: 20px;

    svg {
      height: 12px;
      width: 12px;
    }
  }


  &.inherit {
    height: 16px;
    width: 16px;

    svg {
      height: 10px;
      width: 10px;
    }
  }
}
